{{> navbar}}
<div class="d-flex">
{{> form}}
<br/>

<style>
.overflow-lucas{
    overflow: scroll;
    height: 500px;
}
</style>
<div class="container shadow p-3 mb-5 bg-white rounded  overflow-lucas">
    <h1 id="textito" class="text-center">Listado de productos</h1>
{{#if productsExist}}

            <table id="table" class="table">
                 <thead>
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Precio</th>
                    <th scope="col">imagen</th>
                    </tr>
                </thead>
                <tbody>
    {{#each products}}
        
               
                    <tr>
                    <th scope="row">{{this.id}} </th>
                    
                    <td> {{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td><button type="button"  data-toggle="modal" data-target="#exampleModal{{this.id}}">
  <img src="{{this.thumbnail }}" class="mybox mh-100" style="width: 100px; height: 100px;"/>
</button> </td>
<div class="modal fade" id="exampleModal{{this.id}}" tabindex="{{this.id}}" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{this.thumbnail }}" class="mybox mh-100" style="width: 500px; height: 500px;"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  </tr>

        {{/each}}
        </tbody>
    </table>
{{/if}}
{{#else}}
    <p>No hay productos</p>
{{/else}}
</div>
<br/>
</div>
{{> footer}}
<br/>